.element__name {
  color: black;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 197px;
}