.popup__label {
  color: #000;
  line-height: 29px;
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 0 36px;
}

@media screen and (max-width: 1050px) {
  .popup__label {
    margin: 25px auto 0;
    line-height: 22px;
    font-size: 18px;
  }
}