.element {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1050px) {
  .element {
    margin: 0 auto;
  }
}